.version._723 /* version checker */
{
	color: #00001B;
	background-color: #CD732C;
}

.html
{
	background: #FFFFFF url("../images/stripes_red-01.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 568.8px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 201px;
	padding-bottom: 228px;
	width: 0.01px;
}

#u419
{
	z-index: 9;
	height: 98px;
	top: 0px;
}

#u419-bw
{
	z-index: 9;
}

#u1257-4
{
	z-index: 57;
	width: 220px;
	min-height: 47px;
	top: 0px;
	left: 0px;
}

#u1257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 220px;
	margin: 0px;
}

#u1257-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 220px;
	margin: 0px;
}

#menuu382
{
	z-index: 10;
	width: 461px;
	top: 0px;
	left: 499px;
}

#u397
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
}

#u400
{
	width: 117px;
	padding-bottom: 17px;
}

#u400:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u403-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 119px;
}

#u412
{
	width: 94px;
	padding-bottom: 17px;
}

#u412:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u412.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u414-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 23;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 63px;
}

#u412:hover #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u416
{
	width: 176px;
	top: 34px;
}

#u1062
{
	width: 176px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	width: 66px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 51px;
}

#u1062:hover #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u1062.MuseMenuActive #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u1074
{
	width: 176px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062.MuseMenuActive,#u1074:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1075-4
{
	width: 114px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 27px;
}

#u1074:hover #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u417,#u1061,#u1071,#u1078
{
	width: 176px;
}

#u1081
{
	width: 176px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1074.MuseMenuActive,#u1081:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1081.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1084-4
{
	width: 168px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1081:hover #u1084-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u1081.MuseMenuActive #u1084-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 215px;
}

#u405
{
	width: 91px;
	padding-bottom: 17px;
}

#u405:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u405.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u407-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u405:hover #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u405.MuseMenuActive #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u597
{
	width: 153px;
	min-height: 34px;
	margin-right: -10000px;
	left: 308px;
}

#u600
{
	width: 153px;
	padding-bottom: 17px;
}

#u600:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u600.MuseMenuActive
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u601-4
{
	width: 121px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u1002
{
	z-index: 8;
	height: 7px;
	top: 95px;
}

#u1002-bw
{
	z-index: 8;
}

#untitled
{
	margin-left: 1147px;
}

#u1958-6
{
	z-index: 2;
	width: 650px;
	min-height: 89px;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 155px;
	margin-top: 33px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

