.version.graphic_design /* version checker */
{
	color: #0000E9;
	background-color: #A1FD31;
}

.html
{
	background: #FFFFFF url("../images/stripes_red-01.png") repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2875px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 49px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u419
{
	z-index: 29;
	height: 98px;
	top: 0px;
}

#u419-bw
{
	z-index: 29;
}

#u1257-4
{
	z-index: 83;
	width: 153px;
	min-height: 47px;
	top: 0px;
	left: 0px;
}

#menuu382
{
	z-index: 30;
	width: 588px;
	top: 0px;
	left: 372px;
}

#u390
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
}

#u391
{
	width: 77px;
	padding-bottom: 17px;
}

#u391:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u391.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u394-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u391:hover #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u391.MuseMenuActive #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u397
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 79px;
}

#u400
{
	width: 108px;
	padding-bottom: 17px;
}

#u400:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u403-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	width: 172px;
	min-height: 34px;
	margin-right: -10000px;
	left: 189px;
}

#u412
{
	width: 172px;
	padding-bottom: 17px;
}

#u412:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u412.MuseMenuActive
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u414-4
{
	width: 125px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 49;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 141px;
}

#u412:hover #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u416
{
	width: 172px;
	top: 34px;
}

#u1062
{
	width: 172px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	width: 52px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1062:hover #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1062.MuseMenuActive #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1074
{
	width: 172px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062.MuseMenuActive,#u1074:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1075-4
{
	width: 90px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 37px;
}

#u1074:hover #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u417,#u1061,#u1071,#u1078
{
	width: 172px;
}

#u1081
{
	width: 172px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1074.MuseMenuActive,#u1081:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1081.MuseMenuActive
{
	width: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1084-4
{
	width: 130px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u1081:hover #u1084-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u1081.MuseMenuActive #u1084-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
	left: 363px;
}

#u405
{
	width: 85px;
	padding-bottom: 17px;
}

#u405:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u405.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u407-4
{
	width: 53px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u405:hover #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u405.MuseMenuActive #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u597
{
	width: 138px;
	min-height: 34px;
	margin-right: -10000px;
	left: 450px;
}

#u600
{
	width: 138px;
	padding-bottom: 17px;
}

#u600:hover
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u600.MuseMenuActive
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u601-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#pu1965
{
	width: 0.01px;
	margin-left: -1px;
}

#u1965
{
	z-index: 2;
	width: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1px;
}

#u1971
{
	z-index: 4;
	width: 325px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 351px;
}

#u1977
{
	z-index: 6;
	width: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 1px;
}

#u1983
{
	z-index: 8;
	width: 286px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 675px;
}

#u1989
{
	z-index: 10;
	width: 610px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 351px;
}

#u1995
{
	z-index: 12;
	width: 611px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 789px;
	left: 351px;
}

#u2006
{
	z-index: 14;
	position: relative;
	margin-right: -10000px;
	margin-top: 712px;
}

#u2017
{
	z-index: 15;
	width: 352px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1196px;
	left: 608px;
}

#u2067
{
	z-index: 19;
	width: 608px;
	height: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1196px;
	background: transparent url("../images/butts.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2074
{
	z-index: 20;
	width: 608px;
	height: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1429px;
	background: transparent url("../images/atw_cover.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2042
{
	z-index: 21;
	width: 608px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1652px;
}

#u2081
{
	z-index: 23;
	position: relative;
	margin-right: -10000px;
	margin-top: 1652px;
	left: 608px;
}

#u2098
{
	z-index: 27;
	width: 960px;
	height: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2004px;
	background: transparent url("../images/uc_transit-01.jpg") no-repeat left top;
	background-size: cover;
}

#untitled
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 1148px;
}

#u1002
{
	z-index: 28;
	height: 7px;
	top: 95px;
}

#u1002-bw
{
	z-index: 28;
}

#pu2048
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -3px;
}

#u2048
{
	z-index: 24;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u2048_clip
{
	overflow: hidden;
	width: 480px;
	height: 193px;
}

#u2048_img
{
	margin-left: -29px;
	margin-bottom: 5px;
}

#u2086
{
	z-index: 26;
	width: 516px;
	height: 192px;
	position: relative;
	margin-right: -10000px;
	left: 444px;
	background: transparent url("../images/santabear-01.jpg") no-repeat left top;
	background-size: cover;
}

#u2054
{
	z-index: 17;
	width: 960px;
	background-color: transparent;
	margin-left: 1px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

