#u1258-4
{
	font-family: satisfy-n4, cursive;
}

#u261-4
{
	font-family: lato-n3, sans-serif;
}

#u337-4
{
	font-family: lato-n3, sans-serif;
}

#u348-4
{
	font-family: lato-n3, sans-serif;
}

#u1038-4
{
	font-family: lato-n3, sans-serif;
}

#u1053-4
{
	font-family: lato-n3, sans-serif;
}

#u1057-4
{
	font-family: lato-n3, sans-serif;
}

#u351-4
{
	font-family: lato-n3, sans-serif;
}

#u607-4
{
	font-family: lato-n3, sans-serif;
}

#u274-4
{
	font-family: lato-n3, sans-serif;
}

#u962-4,#u890-4
{
	font-family: vidaloka-n4, serif;
}

#u2245-4
{
	font-family: vidaloka-n4, serif;
}

