#u1257-4
{
	font-family: satisfy-n4, cursive;
}

#u394-4
{
	font-family: lato-n3, sans-serif;
}

#u403-4
{
	font-family: lato-n3, sans-serif;
}

#u414-4
{
	font-family: lato-n3, sans-serif;
}

#u1064-4
{
	font-family: lato-n3, sans-serif;
}

#u1075-4
{
	font-family: lato-n3, sans-serif;
}

#u1084-4
{
	font-family: lato-n3, sans-serif;
}

#u407-4
{
	font-family: lato-n3, sans-serif;
}

#u601-4
{
	font-family: lato-n3, sans-serif;
}

#u1129-4
{
	font-family: vidaloka-n4, serif;
}

#u1174-4,#u1208-4
{
	font-family: arvo-n4, serif;
}

#u1173-4,#u1181-4,#u1169-7,#u1207-4,#u1196-7,#u1199-7
{
	font-family: antic-slab-n4, sans-serif;
}

#u1143-4,#u1145-4,#u1166-4,#u1245-4,#u1380-4,#u2024-4
{
	font-family: satisfy-n4, cursive;
}

