#u1257-4
{
	font-family: satisfy-n4, cursive;
}

#u394-4
{
	font-family: lato-n3, sans-serif;
}

#u403-4
{
	font-family: lato-n3, sans-serif;
}

#u414-4
{
	font-family: lato-n3, sans-serif;
}

#u1064-4
{
	font-family: lato-n3, sans-serif;
}

#u1075-4
{
	font-family: lato-n3, sans-serif;
}

#u1084-4
{
	font-family: lato-n3, sans-serif;
}

#u407-4
{
	font-family: lato-n3, sans-serif;
}

#u601-4
{
	font-family: lato-n3, sans-serif;
}

#u1504-4
{
	font-family: vidaloka-n4, serif;
}

#u1510-4,#u1517-4,#u1528-4,#u1722-4,#u1611-4,#u1708-4,#u1709-4
{
	font-family: satisfy-n4, cursive;
}

