#u1257-4
{
	font-family: satisfy-n4, cursive;
}

#u394-4
{
	font-family: lato-n3, sans-serif;
}

#u403-4
{
	font-family: lato-n3, sans-serif;
}

#u414-4
{
	font-family: lato-n3, sans-serif;
}

#u1064-4
{
	font-family: lato-n3, sans-serif;
}

#u1075-4
{
	font-family: lato-n3, sans-serif;
}

#u1084-4
{
	font-family: lato-n3, sans-serif;
}

#u407-4
{
	font-family: lato-n3, sans-serif;
}

#u601-4
{
	font-family: lato-n3, sans-serif;
}

#u513-4,#u513
{
	font-family: vidaloka-n4, serif;
}

#u1491-10
{
	font-family: arvo-n4, serif;
}

#u1493-9
{
	font-family: arvo-n4, serif;
}

#u1496-4
{
	font-family: arvo-n4, serif;
}

