.version.index /* version checker */
{
	color: #0000E5;
	background-color: #D56819;
}

.html
{
	background: #FFFFFF url("../images/stripes_red-01.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1706.9215816630774px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 654px;
	padding-bottom: 103px;
	width: 0.01px;
}

#u155
{
	z-index: 5;
	height: 788px;
	background: transparent url("../images/edit.jpg") no-repeat center center;
	background-size: cover;
}

#u155-bw
{
	z-index: 5;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u1258-4
{
	z-index: 163;
	width: 153px;
	min-height: 47px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	color: #303030;
	font-family: satisfy, cursive;
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 0px;
}

#menuu237
{
	z-index: 111;
	width: 589px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 371px;
}

#u259
{
	width: 78px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u260
{
	width: 78px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u260.MuseMenuActive
{
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u261-4
{
	width: 45px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #303030;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u260:hover #u261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u260.MuseMenuActive #u261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u335
{
	width: 108px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u336
{
	width: 108px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u336:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	width: 108px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.5);
}

#u336.MuseMenuActive
{
	background-color: transparent;
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u337-4
{
	width: 75px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #303030;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u336.MuseMenuActive #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u342
{
	width: 172px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u345
{
	width: 172px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u345:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	width: 172px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.5);
}

#u345.MuseMenuActive
{
	background-color: transparent;
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u348-4
{
	width: 125px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #303030;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u345:hover #u348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive #u348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u347
{
	z-index: 130;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 141px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u345:hover #u347
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive #u347
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u343
{
	width: 172px;
	background-color: transparent;
	top: 34px;
}

#u1036
{
	width: 172px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1038-4
{
	width: 52px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 56px;
}

#u1036:hover #u1038-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1036.MuseMenuActive #u1038-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1050
{
	width: 172px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1053-4
{
	width: 90px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u1050:hover #u1053-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u1050.MuseMenuActive #u1053-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u344,#u1035,#u1047,#u1054
{
	width: 172px;
	background-color: transparent;
	position: relative;
}

#u1055
{
	width: 172px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1036:hover,#u1050:hover,#u1055:hover
{
	background-color: #497D7D;
	width: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1057-4
{
	width: 130px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 17px;
}

#u1055:hover #u1057-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u1055.MuseMenuActive #u1057-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u349
{
	width: 85px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u350
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u350:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	width: 85px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.5);
}

#u351-4
{
	width: 53px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #303030;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u350:hover #u351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u350.MuseMenuActive #u351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u604
{
	width: 138px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u605
{
	width: 138px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u605:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	width: 138px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.5);
}

#u607-4
{
	width: 106px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #303030;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u605:hover #u607-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u605.MuseMenuActive #u607-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u260.MuseMenuActive #u261-4 p,#u336.MuseMenuActive #u337-4 p,#u345.MuseMenuActive #u348-4 p,#u350.MuseMenuActive #u351-4 p,#u605.MuseMenuActive #u607-4 p
{
	color: #303030;
	visibility: inherit;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u273
{
	z-index: 110;
	height: 98px;
	background-color: #FFFFFF;
}

#u273-bw
{
	z-index: 110;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 259px;
}

#u160
{
	z-index: 108;
	height: 98px;
	background-color: #FFFFFF;
}

#u160-bw
{
	z-index: 108;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 259px;
}

#u274-4
{
	z-index: 6;
	width: 650px;
	min-height: 42px;
	background-color: transparent;
	line-height: 31px;
	text-align: center;
	font-size: 26px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 348px;
	left: 155px;
}

#u1005
{
	z-index: 109;
	height: 7px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.3)),color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.3) ,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.3) ,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C7F7F7F, endColorstr=#00000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C7F7F7F', endColorstr='#00000000', GradientType=0)";
}

.js #u273.ose_pre_init,.js #u160.ose_pre_init,.js #u1005.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1005-bw
{
	z-index: 109;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 354px;
}

#aboutme
{
	left: -100px;
	position: relative;
}

#u962-4
{
	z-index: 100;
	width: 650px;
	min-height: 72px;
	background-color: transparent;
	line-height: 67px;
	text-align: center;
	font-size: 56px;
	letter-spacing: 4px;
	color: #303030;
	font-family: vidaloka, serif;
	font-weight: 400;
	margin-left: 160px;
	margin-top: 147px;
	position: relative;
}

#pu730-20
{
	width: 0.01px;
	margin-left: 155px;
}

#u730-20
{
	z-index: 23;
	width: 313px;
	min-height: 408px;
	background-color: transparent;
	text-indent: 20px;
	text-align: justify;
	color: #303030;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#pu377-12
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 337px;
}

#u377-12
{
	z-index: 11;
	width: 313px;
	min-height: 233px;
	background-color: transparent;
	text-indent: 20px;
	text-align: justify;
	color: #303030;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#pu2224
{
	width: 0.01px;
}

#u2224
{
	z-index: 3;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
}

#u2209
{
	z-index: 106;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	left: 46px;
}

#u2199
{
	z-index: 105;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	left: 91px;
}

#u2219
{
	z-index: 4;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	left: 137px;
}

#u2214
{
	z-index: 107;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	left: 183px;
}

#u2204
{
	z-index: 2;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	left: 228px;
}

#u2194
{
	z-index: 104;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	left: 274px;
}

#u2224:hover,#u2209:hover,#u2199:hover,#u2219:hover,#u2214:hover,#u2204:hover,#u2194:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u890-4
{
	z-index: 88;
	width: 313px;
	min-height: 24px;
	background-color: #497D7D;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 8px;
	color: #FFFFFF;
	font-family: vidaloka, serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u890-4:hover
{
	background-color: #447D7D;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 313px;
	margin: 16px 0px 0px;
}

#u890-4:active
{
	background-color: #DEDEDE;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 313px;
	margin: 16px 0px 0px;
}

#u2245-4
{
	z-index: 92;
	width: 313px;
	min-height: 24px;
	background-color: #497D7D;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 8px;
	color: #FFFFFF;
	font-family: vidaloka, serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u2245-4:hover
{
	background-color: #447D7D;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 313px;
	margin: 7px 0px 0px;
}

#u2245-4:active
{
	background-color: #DEDEDE;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 313px;
	margin: 7px 0px 0px;
}

#u891-4
{
	z-index: 96;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #303030;
	font-family: satisfy, cursive;
	font-weight: 400;
	margin-left: 155px;
	margin-top: 46px;
	position: relative;
}

#widgetu872
{
	z-index: 43;
	width: 0.01px;
	height: 194px;
	margin-left: 155px;
	margin-top: 9px;
	position: relative;
}

#widgetu883
{
	z-index: 44;
	width: 652px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu883.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 652px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u885-4
{
	z-index: 45;
	width: 638px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu883.non-empty-st #u885-4
{
	background-color: #FFFFFF;
}

#widgetu883:hover #u885-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu883.focus-st #u885-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu883.non-empty-st #u885-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu883:hover #u885-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu883.focus-st #u885-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu883_input,#widgetu883_prompt
{
	width: 638px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	padding: 6px;
}

#widgetu879
{
	z-index: 49;
	width: 652px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: -1px;
}

#widgetu879.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 652px;
	height: 28px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#u880-4
{
	z-index: 50;
	width: 638px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu879.non-empty-st #u880-4
{
	background-color: #FFFFFF;
}

#widgetu879:hover #u880-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu879.focus-st #u880-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu883.fld-err-st #u885-4,#widgetu879.fld-err-st #u880-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu879.non-empty-st #u880-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu879:hover #u880-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu879.focus-st #u880-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu879_input,#widgetu879_prompt
{
	width: 638px;
	min-height: 14px;
	color: #C4C4C4;
	font-style: italic;
	padding: 6px;
}

#u873-4
{
	z-index: 54;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 134px;
}

#widgetu872.frm-sub-st #u873-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u887-4
{
	z-index: 58;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 134px;
}

#widgetu872.frm-subm-err-st #u887-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u888-4
{
	z-index: 62;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 134px;
}

#widgetu872.frm-sub-st #u873-4,#widgetu872.frm-subm-err-st #u887-4,#widgetu872.frm-subm-ok-st #u888-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu872.frm-subm-ok-st #u888-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u878-17
{
	z-index: 66;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	background: url("../images/u878-17.png") no-repeat 0px 0px;
}

#u878-17:hover
{
	background: url("../images/u878-17-r.png") no-repeat 0px 0px;
}

#u878-17:active
{
	background: url("../images/u878-17-m.png") no-repeat 0px 0px;
}

#widgetu872.frm-sub-st #u878-17
{
	background: url("../images/u878-17-fs.png") no-repeat 0px 0px;
}

#widgetu874
{
	z-index: 83;
	width: 652px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: -1px;
}

#widgetu874.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 652px;
	height: 82px;
	min-height: 0px;
	margin: 72px -10000px 0px 0px;
}

#u877-4
{
	z-index: 84;
	width: 638px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu874.non-empty-st #u877-4
{
	background-color: #FFFFFF;
}

#widgetu874:hover #u877-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu874.focus-st #u877-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu874.fld-err-st #u877-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 638px;
	margin: 0px -10000px 0px 0px;
}

#widgetu874.non-empty-st #u877-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu874:hover #u877-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu874.focus-st #u877-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu883.fld-err-st #u885-4 *,#widgetu879.fld-err-st #u880-4 *,#widgetu874.fld-err-st #u877-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu874_input,#widgetu874_prompt
{
	width: 638px;
	min-height: 68px;
	color: #C4C4C4;
	font-style: italic;
	padding: 6px;
}

#widgetu883:hover #widgetu883_input,#widgetu883.focus-st #widgetu883_input,#widgetu883.fld-err-st #widgetu883_input,#widgetu883:hover #widgetu883_prompt,#widgetu883.focus-st #widgetu883_prompt,#widgetu883.fld-err-st #widgetu883_prompt,#widgetu879:hover #widgetu879_input,#widgetu879.focus-st #widgetu879_input,#widgetu879.fld-err-st #widgetu879_input,#widgetu879:hover #widgetu879_prompt,#widgetu879.focus-st #widgetu879_prompt,#widgetu879.fld-err-st #widgetu879_prompt,#widgetu874:hover #widgetu874_input,#widgetu874.focus-st #widgetu874_input,#widgetu874.fld-err-st #widgetu874_input,#widgetu874:hover #widgetu874_prompt,#widgetu874.focus-st #widgetu874_prompt,#widgetu874.fld-err-st #widgetu874_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu883.non-empty-st #widgetu883_prompt,#widgetu879.non-empty-st #widgetu879_prompt,#widgetu874.non-empty-st #widgetu874_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

