.version.intro_decal /* version checker */
{
	color: #00001E;
	background-color: #57D69D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4459px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 75px;
	width: 0.01px;
}

#u419
{
	z-index: 111;
	height: 98px;
	top: 0px;
}

#u419-bw
{
	z-index: 111;
}

#u1257-4
{
	z-index: 171;
	width: 364px;
	min-height: 47px;
	top: 0px;
	left: -64px;
}

#u1257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#u1257-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#menuu382
{
	z-index: 112;
	width: 462px;
	top: 0px;
	left: 499px;
}

#u397
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
}

#u400
{
	width: 117px;
	padding-bottom: 17px;
}

#u400:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u403-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 119px;
}

#u412
{
	width: 94px;
	padding-bottom: 17px;
}

#u412:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u412.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u414-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 125;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 63px;
}

#u412:hover #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u416
{
	width: 186px;
	top: 34px;
}

#u3623
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3625-4
{
	width: 141px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u3623:hover #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623.MuseMenuActive #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1062
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623.MuseMenuActive,#u1062:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1062:hover #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062.MuseMenuActive #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1074
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062.MuseMenuActive,#u1074:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1075-4
{
	width: 116px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u1074:hover #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5458
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1074.MuseMenuActive,#u5458:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5461-4
{
	width: 117px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u5458:hover #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458.MuseMenuActive #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u417,#u3620,#u1061,#u1071,#u5457,#u4639
{
	width: 186px;
}

#u4640
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5458.MuseMenuActive,#u4640:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4643-4
{
	width: 102px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u4640:hover #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 215px;
}

#u405
{
	width: 91px;
	padding-bottom: 17px;
}

#u405:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u405.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u407-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u405:hover #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u405.MuseMenuActive #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u597
{
	width: 154px;
	min-height: 34px;
	margin-right: -10000px;
	left: 308px;
}

#u600
{
	width: 154px;
	padding-bottom: 17px;
}

#u600:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u600.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u601-4
{
	width: 122px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#pu3318
{
	width: 0.01px;
	margin-left: -100px;
}

#u3318
{
	z-index: 2;
	height: 573px;
	background: transparent url("../images/10682193_961780433860749_1433082826558879704_o.jpg") no-repeat center center;
	background-size: cover;
}

#u3318-bw
{
	z-index: 2;
	height: 573px;
}

#untitled
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 1247px;
}

#u1002
{
	z-index: 110;
	height: 4px;
	top: 98px;
}

#u1002-bw
{
	z-index: 110;
}

#u4057-4
{
	z-index: 7;
	width: 650px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	text-align: center;
	font-size: 38px;
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	margin-left: 155px;
	margin-top: 30px;
	position: relative;
}

#u4058-4
{
	z-index: 106;
	width: 650px;
	min-height: 51px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 155px;
	position: relative;
}

#u3325-4
{
	z-index: 3;
	width: 650px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	text-align: left;
	font-size: 38px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-top: 16px;
	position: relative;
}

#slideshowu3337
{
	z-index: 31;
	width: 0.01px;
	height: 448px;
	margin-top: 13px;
	position: relative;
}

#u3338
{
	position: absolute;
	width: 671px;
	height: 448px;
	background-color: transparent;
}

#u3338popup
{
	z-index: 32;
}

#u3409
{
	z-index: 33;
	width: 671px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3341
{
	z-index: 35;
	width: 671px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3400
{
	z-index: 37;
	width: 671px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3418
{
	z-index: 39;
	width: 671px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3409_clip,#u3341_clip,#u3400_clip,#u3418_clip
{
	overflow: hidden;
	width: 671px;
	height: 448px;
}

#u3409_img,#u3341_img,#u3400_img,#u3418_img
{
	margin-right: -1px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3329-16
{
	z-index: 15;
	width: 269px;
	min-height: 448px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 691px;
	top: -448px;
	margin-bottom: -448px;
	position: relative;
}

#u3329-2,#u3329-3
{
	font-weight: bold;
}

#u3445-4
{
	z-index: 11;
	width: 650px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	text-align: left;
	font-size: 38px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-top: 43px;
	position: relative;
}

#ppu3435-11
{
	width: 0.01px;
	margin-top: 14px;
}

#pu3435-11
{
	width: 0.01px;
	margin-right: -10000px;
}

#u3435-11
{
	z-index: 41;
	width: 423px;
	min-height: 412px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u3435-2,#u3435-3,#u3435-5,#u3435-6,#u3435-8
{
	text-align: justify;
}

#u3446
{
	z-index: 73;
	width: 423px;
	height: 635px;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-02-06%20at%20124929%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#pu3436
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 447px;
}

#u3436
{
	z-index: 52;
	width: 513px;
	height: 512px;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-02-06%20at%20123912%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u3443-4
{
	z-index: 53;
	width: 289px;
	min-height: 27px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 224px;
	position: relative;
}

#u3454
{
	z-index: 74;
	width: 513px;
	height: 508px;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-02-06%20at%20124941%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#pu3453-4
{
	width: 0.01px;
	margin-left: 134px;
}

#u3453-4
{
	z-index: 57;
	width: 289px;
	min-height: 27px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3462-4
{
	z-index: 69;
	width: 289px;
	min-height: 27px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#pu3596
{
	width: 0.01px;
	margin-top: 15px;
}

#u3596
{
	z-index: 93;
	width: 504px;
	height: 730px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%202016-02-06%20at%2020218%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#pu3603-11
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 522px;
}

#u3603-11
{
	z-index: 94;
	width: 438px;
	min-height: 285px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u3605
{
	z-index: 105;
	width: 438px;
	height: 435px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-02-06%20at%2022828%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#pu3604-4
{
	width: 0.01px;
	margin-left: 215px;
}

#u3604-4
{
	z-index: 61;
	width: 289px;
	min-height: 27px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3612-4
{
	z-index: 65;
	width: 299px;
	min-height: 27px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 446px;
}

#u3463-4
{
	z-index: 75;
	width: 650px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	text-align: left;
	font-size: 38px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-top: 34px;
	position: relative;
}

#u3464-4
{
	z-index: 79;
	width: 960px;
	min-height: 80px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u3465
{
	z-index: 83;
	width: 960px;
	height: 496px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../images/10344310_916224395083020_7350615272677004857_o.jpg") no-repeat left top;
	background-size: cover;
}

#slideshowu3522
{
	z-index: 85;
	width: 0.01px;
	height: 437px;
	margin-top: 20px;
	position: relative;
}

#u3523
{
	position: absolute;
	width: 591px;
	height: 437px;
	background-color: transparent;
}

#u3523popup
{
	z-index: 86;
}

#u3526
{
	z-index: 87;
	width: 591px;
	height: 437px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3578
{
	z-index: 89;
	width: 591px;
	height: 437px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3526_img,#u3578_img
{
	margin-left: -32px;
	margin-right: -32px;
}

#u3587
{
	z-index: 91;
	width: 591px;
	height: 437px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3526_clip,#u3578_clip,#u3587_clip
{
	overflow: hidden;
	width: 591px;
	height: 437px;
}

#u3587_img
{
	margin-left: -32px;
	margin-right: -33px;
}

#u3479
{
	z-index: 84;
	width: 346px;
	height: 437px;
	margin-left: 614px;
	top: -437px;
	margin-bottom: -437px;
	position: relative;
	background: transparent url("../images/10285703_916224445083015_2786258886084692773_o.jpg") no-repeat center center;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

