#u5626-4
{
	background-color: transparent;
	color: #303030;
	text-align: left;
	letter-spacing: 4px;
	line-height: 26px;
	font-size: 22px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 500;
	position: fixed;
}

#u5626-4:hover p
{
	color: #AAAAAA;
	visibility: inherit;
}

#u5626-4:active p
{
	color: #303030;
	visibility: inherit;
}

#menuu5561
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u5562,#u5565
{
	background-color: transparent;
	position: relative;
}

#u5565:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u5568-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u5583,#u5584
{
	background-color: transparent;
	position: relative;
}

#u5584:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u5585-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u5586
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u5584:hover #u5586
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u5584.MuseMenuActive #u5586
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u5600
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5600:hover
{
	background-color: #00A99D;
}

#u5600:active
{
	background-color: #38D8C7;
}

#u5602-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5600:hover #u5602-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5600:active #u5602-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5605
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5600.MuseMenuActive,#u5605:hover
{
	background-color: #00A99D;
}

#u5605:active
{
	background-color: #38D8C7;
}

#u5607-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5605:hover #u5607-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5605:active #u5607-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5593
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5605.MuseMenuActive,#u5593:hover
{
	background-color: #00A99D;
}

#u5593:active
{
	background-color: #38D8C7;
}

#u5594-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5593:hover #u5594-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5593:active #u5594-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5621
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5593.MuseMenuActive,#u5621:hover
{
	background-color: #00A99D;
}

#u5621:active
{
	background-color: #38D8C7;
}

#u5624-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5621:hover #u5624-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5621:active #u5624-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5612
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5621.MuseMenuActive,#u5612:hover
{
	background-color: #00A99D;
}

#u5612:active
{
	background-color: #38D8C7;
}

#u5612.MuseMenuActive
{
	background-color: #00A99D;
}

#u5614-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5612:hover #u5614-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5612:active #u5614-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5600.MuseMenuActive #u5602-4 p,#u5605.MuseMenuActive #u5607-4 p,#u5593.MuseMenuActive #u5594-4 p,#u5621.MuseMenuActive #u5624-4 p,#u5612.MuseMenuActive #u5614-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u5589,#u5597,#u5604,#u5590,#u5618,#u5611,#u5576,#u5577
{
	background-color: transparent;
	position: relative;
}

#u5577:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u5578-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u5569,#u5572
{
	background-color: transparent;
	position: relative;
}

#u5572:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u5565.MuseMenuActive,#u5584.MuseMenuActive,#u5588,#u5577.MuseMenuActive,#u5572.MuseMenuActive
{
	background-color: transparent;
}

#u5574-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u5565.MuseMenuActive #u5568-4 p,#u5584.MuseMenuActive #u5585-4 p,#u5577.MuseMenuActive #u5578-4 p,#u5572.MuseMenuActive #u5574-4 p
{
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#untitled
{
	position: relative;
}

