#u419
{
	background-color: #FFFFFF;
	position: fixed;
}

#u1257-4
{
	background-color: transparent;
	color: #303030;
	text-align: left;
	letter-spacing: 4px;
	line-height: 26px;
	font-size: 22px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 500;
	position: fixed;
}

#u1257-4:hover p
{
	color: #AAAAAA;
	visibility: inherit;
}

#u1257-4:active p
{
	color: #303030;
	visibility: inherit;
}

#menuu382
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u397,#u400
{
	background-color: transparent;
	position: relative;
}

#u400:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	-pie-background: rgba(255,255,255,0.5);
}

#u403-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u411,#u412
{
	background-color: transparent;
	position: relative;
}

#u412:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	-pie-background: rgba(255,255,255,0.5);
}

#u414-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u415
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u412:hover #u415
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u412.MuseMenuActive #u415
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1062
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1062:hover
{
	background-color: #497D7D;
}

#u1064-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1074
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1062.MuseMenuActive,#u1074:hover
{
	background-color: #497D7D;
}

#u1075-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1081
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1074.MuseMenuActive,#u1081:hover
{
	background-color: #497D7D;
}

#u1081.MuseMenuActive
{
	background-color: #497D7D;
}

#u1084-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u417,#u1061,#u1071,#u1078,#u404,#u405
{
	background-color: transparent;
	position: relative;
}

#u405:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	-pie-background: rgba(255,255,255,0.5);
}

#u407-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u597,#u600
{
	background-color: transparent;
	position: relative;
}

#u600:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.5);
	-pie-background: rgba(255,255,255,0.5);
}

#u400.MuseMenuActive,#u412.MuseMenuActive,#u416,#u405.MuseMenuActive,#u600.MuseMenuActive
{
	background-color: transparent;
}

#u601-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u400.MuseMenuActive #u403-4 p,#u412.MuseMenuActive #u414-4 p,#u405.MuseMenuActive #u407-4 p,#u600.MuseMenuActive #u601-4 p
{
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1002
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.3)),color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.3) ,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.3) ,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C7F7F7F, endColorstr=#00000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C7F7F7F', endColorstr='#00000000', GradientType=0)";
	position: fixed;
}

#untitled
{
	position: relative;
}

