#u419
{
	background-color: #FFFFFF;
	position: fixed;
}

#u1257-4
{
	background-color: transparent;
	color: #303030;
	text-align: left;
	letter-spacing: 4px;
	line-height: 26px;
	font-size: 22px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 500;
	position: fixed;
}

#u1257-4:hover p
{
	color: #AAAAAA;
	visibility: inherit;
}

#u1257-4:active p
{
	color: #303030;
	visibility: inherit;
}

#menuu382
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u397,#u400
{
	background-color: transparent;
	position: relative;
}

#u400:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u403-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u411,#u412
{
	background-color: transparent;
	position: relative;
}

#u412:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u414-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u415
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u412:hover #u415
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u412.MuseMenuActive #u415
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3623
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u3623:hover
{
	background-color: #00A99D;
}

#u3623:active
{
	background-color: #38D8C7;
}

#u3625-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3623:hover #u3625-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u3623:active #u3625-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u1062
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u3623.MuseMenuActive,#u1062:hover
{
	background-color: #00A99D;
}

#u1062:active
{
	background-color: #38D8C7;
}

#u1064-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1062:hover #u1064-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u1062:active #u1064-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u1074
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1062.MuseMenuActive,#u1074:hover
{
	background-color: #00A99D;
}

#u1074:active
{
	background-color: #38D8C7;
}

#u1075-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1074:hover #u1075-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u1074:active #u1075-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5458
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1074.MuseMenuActive,#u5458:hover
{
	background-color: #00A99D;
}

#u5458:active
{
	background-color: #38D8C7;
}

#u5461-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5458:hover #u5461-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u5458:active #u5461-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u4640
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u5458.MuseMenuActive,#u4640:hover
{
	background-color: #00A99D;
}

#u4640:active
{
	background-color: #38D8C7;
}

#u4640.MuseMenuActive
{
	background-color: #00A99D;
}

#u4643-4
{
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	line-height: 13px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4640:hover #u4643-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u4640:active #u4643-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-transform: none;
	font-weight: bold;
}

#u3623.MuseMenuActive #u3625-4 p,#u1062.MuseMenuActive #u1064-4 p,#u1074.MuseMenuActive #u1075-4 p,#u5458.MuseMenuActive #u5461-4 p,#u4640.MuseMenuActive #u4643-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u417,#u3620,#u1061,#u1071,#u5457,#u4639,#u404,#u405
{
	background-color: transparent;
	position: relative;
}

#u405:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u407-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u597,#u600
{
	background-color: transparent;
	position: relative;
}

#u600:hover
{
	background-color: #F3F3F3;
	background-color: rgba(127,127,127,0.09);
	-pie-background: rgba(127,127,127,0.09);
}

#u400.MuseMenuActive,#u412.MuseMenuActive,#u416,#u405.MuseMenuActive,#u600.MuseMenuActive
{
	background-color: transparent;
}

#u601-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	letter-spacing: 2px;
	font-family: faricy-new-web, sans-serif;
	font-weight: 300;
	position: relative;
}

#u400.MuseMenuActive #u403-4 p,#u412.MuseMenuActive #u414-4 p,#u405.MuseMenuActive #u407-4 p,#u600.MuseMenuActive #u601-4 p
{
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1002
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(127,127,127,0.3)),color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,rgba(127,127,127,0.3) ,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,rgba(127,127,127,0.3) ,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C7F7F7F, endColorstr=#00000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C7F7F7F', endColorstr='#00000000', GradientType=0)";
	position: fixed;
}

#untitled
{
	position: relative;
}

