.version.photography /* version checker */
{
	color: #0000ED;
	background-color: #E34C0A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 219px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 281px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu2342
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -29px;
	left: 55px;
}

#u2348
{
	position: absolute;
	background-color: transparent;
}

#u2348popup
{
	z-index: 3;
}

#u2434
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4119
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3213
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4079
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3154
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3163
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3145
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4110
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3172
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3136
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3199
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3227
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4070
{
	z-index: 28;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2347-14
{
	width: 2666px;
	min-height: 1544px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 98px;
	left: 0px;
}

#u2347-14popup
{
	z-index: 30;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5626-4
{
	z-index: 103;
	width: 364px;
	min-height: 47px;
	top: 0px;
	left: -64px;
}

#u5626-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#u5626-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#menuu5561
{
	z-index: 44;
	width: 461px;
	top: 0px;
	left: 499px;
}

#u5562
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5565
{
	width: 117px;
	padding-bottom: 17px;
}

#u5565:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u5565.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u5568-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u5565:hover #u5568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u5565.MuseMenuActive #u5568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u5583
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 119px;
}

#u5584
{
	width: 94px;
	padding-bottom: 17px;
}

#u5584:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u5584.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u5585-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u5584:hover #u5585-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u5584.MuseMenuActive #u5585-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u5586
{
	z-index: 57;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 63px;
}

#u5584:hover #u5586
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5584.MuseMenuActive #u5586
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5588
{
	width: 186px;
	top: 34px;
}

#u5600
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5600:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5600:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5602-4
{
	width: 141px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u5600:hover #u5602-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u5600:active #u5602-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u5600.MuseMenuActive #u5602-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u5605
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5600.MuseMenuActive,#u5605:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5605:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5607-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u5605:hover #u5607-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u5605:active #u5607-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u5605.MuseMenuActive #u5607-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u5593
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5605.MuseMenuActive,#u5593:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5593:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5594-4
{
	width: 116px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u5593:hover #u5594-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5593:active #u5594-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5593.MuseMenuActive #u5594-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5621
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5593.MuseMenuActive,#u5621:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5621:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5624-4
{
	width: 117px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u5621:hover #u5624-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5621:active #u5624-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5621.MuseMenuActive #u5624-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5589,#u5597,#u5604,#u5590,#u5618,#u5611
{
	width: 186px;
}

#u5612
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5621.MuseMenuActive,#u5612:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5612:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5612.MuseMenuActive
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5614-4
{
	width: 102px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u5612:hover #u5614-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u5612:active #u5614-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u5612.MuseMenuActive #u5614-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u5576
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 215px;
}

#u5577
{
	width: 91px;
	padding-bottom: 17px;
}

#u5577:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u5577.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u5578-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u5577:hover #u5578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u5577.MuseMenuActive #u5578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u5569
{
	width: 153px;
	min-height: 34px;
	margin-right: -10000px;
	left: 308px;
}

#u5572
{
	width: 153px;
	padding-bottom: 17px;
}

#u5572:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u5572.MuseMenuActive
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u5574-4
{
	width: 121px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u5572:hover #u5574-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u5572.MuseMenuActive #u5574-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#untitled
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 201px;
	left: 1147px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

