.version.photography /* version checker */
{
	color: #0000F1;
	background-color: #5AC020;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 683px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -29px;
	padding-bottom: 464px;
	width: 0.01px;
}

#slideshowu2342
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 55px;
	position: relative;
}

#u2348
{
	position: absolute;
	background-color: transparent;
}

#u2348popup
{
	z-index: 3;
}

#u2434
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4119
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3213
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4079
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3154
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3163
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3145
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4110
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3172
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3136
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3199
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3227
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4070
{
	z-index: 28;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2347-14
{
	width: 2666px;
	min-height: 1544px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	padding: 15px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 98px;
	left: 0px;
}

#u2347-14popup
{
	z-index: 30;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u419
{
	z-index: 45;
	height: 98px;
	top: 0px;
}

#u419-bw
{
	z-index: 45;
}

#u1257-4
{
	z-index: 105;
	width: 364px;
	min-height: 47px;
	top: 0px;
	left: -64px;
}

#u1257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#u1257-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#menuu382
{
	z-index: 46;
	width: 461px;
	top: 0px;
	left: 499px;
}

#u397
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
}

#u400
{
	width: 117px;
	padding-bottom: 17px;
}

#u400:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u403-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 119px;
}

#u412
{
	width: 94px;
	padding-bottom: 17px;
}

#u412:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u412.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u414-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 59;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 63px;
}

#u412:hover #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u416
{
	width: 186px;
	top: 34px;
}

#u3623
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3625-4
{
	width: 141px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u3623:hover #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623.MuseMenuActive #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1062
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623.MuseMenuActive,#u1062:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1062:hover #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062.MuseMenuActive #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1074
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062.MuseMenuActive,#u1074:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1075-4
{
	width: 116px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u1074:hover #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5458
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1074.MuseMenuActive,#u5458:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5461-4
{
	width: 117px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u5458:hover #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458.MuseMenuActive #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u417,#u3620,#u1061,#u1071,#u5457,#u4639
{
	width: 186px;
}

#u4640
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5458.MuseMenuActive,#u4640:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4643-4
{
	width: 102px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u4640:hover #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 215px;
}

#u405
{
	width: 91px;
	padding-bottom: 17px;
}

#u405:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u405.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u407-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u405:hover #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u405.MuseMenuActive #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u597
{
	width: 153px;
	min-height: 34px;
	margin-right: -10000px;
	left: 308px;
}

#u600
{
	width: 153px;
	padding-bottom: 17px;
}

#u600:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u600.MuseMenuActive
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u601-4
{
	width: 121px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u1002
{
	z-index: 44;
	height: 4px;
	top: 98px;
}

#u1002-bw
{
	z-index: 44;
}

#untitled
{
	margin-left: 1147px;
	margin-top: 230px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

