.version.student_appreciation /* version checker */
{
	color: #000002;
	background-color: #B690FE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6153.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u419
{
	z-index: 135;
	height: 98px;
	top: 0px;
}

#u419-bw
{
	z-index: 135;
}

#u1257-4
{
	z-index: 195;
	width: 364px;
	min-height: 47px;
	top: 0px;
	left: -64px;
}

#u1257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#u1257-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#menuu382
{
	z-index: 136;
	width: 462px;
	top: 0px;
	left: 499px;
}

#u397
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
}

#u400
{
	width: 117px;
	padding-bottom: 17px;
}

#u400:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u403-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 119px;
}

#u412
{
	width: 94px;
	padding-bottom: 17px;
}

#u412:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u412.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u414-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 149;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 63px;
}

#u412:hover #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u416
{
	width: 186px;
	top: 34px;
}

#u3623
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3625-4
{
	width: 141px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u3623:hover #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623.MuseMenuActive #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1062
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623.MuseMenuActive,#u1062:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1062:hover #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062.MuseMenuActive #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1074
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062.MuseMenuActive,#u1074:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1075-4
{
	width: 116px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u1074:hover #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5458
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1074.MuseMenuActive,#u5458:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5461-4
{
	width: 117px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u5458:hover #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458.MuseMenuActive #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u417,#u3620,#u1061,#u1071,#u5457,#u4639
{
	width: 186px;
}

#u4640
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5458.MuseMenuActive,#u4640:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4643-4
{
	width: 102px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u4640:hover #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 215px;
}

#u405
{
	width: 91px;
	padding-bottom: 17px;
}

#u405:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u405.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u407-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u405:hover #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u405.MuseMenuActive #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u597
{
	width: 154px;
	min-height: 34px;
	margin-right: -10000px;
	left: 308px;
}

#u600
{
	width: 154px;
	padding-bottom: 17px;
}

#u600:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u600.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u601-4
{
	width: 122px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#pu4649
{
	width: 0.01px;
	margin-left: -100px;
}

#u4649
{
	z-index: 6;
	height: 580px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%2065302%20pm.jpg") no-repeat center center;
	background-size: cover;
}

#u4649-bw
{
	z-index: 6;
	height: 580px;
}

#untitled
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 1247px;
}

#u1002
{
	z-index: 134;
	height: 4px;
	top: 98px;
}

#u1002-bw
{
	z-index: 134;
}

#u4646-4
{
	z-index: 7;
	width: 650px;
	min-height: 53px;
	background-color: transparent;
	line-height: 48px;
	color: #252525;
	text-align: center;
	font-size: 40px;
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	margin-left: 155px;
	margin-top: 58px;
	position: relative;
}

#u4647-7
{
	z-index: 11;
	width: 960px;
	min-height: 189px;
	background-color: transparent;
	text-align: justify;
	color: #252525;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u4813
{
	z-index: 3;
	width: 788px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 86px;
	position: relative;
}

#u4799
{
	z-index: 5;
	width: 394px;
	height: 179px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%2012016-02-13%20at%20104352%20pm%20copy.jpg") no-repeat left top;
	background-size: cover;
}

#u4792
{
	z-index: 4;
	width: 394px;
	height: 179px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%20104352%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u4660-4
{
	z-index: 28;
	width: 536px;
	min-height: 42px;
	background-color: transparent;
	line-height: 41px;
	color: #252525;
	text-align: left;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
}

#pu4648-10
{
	width: 0.01px;
	margin-top: 6px;
}

#u4648-10
{
	z-index: 18;
	width: 423px;
	min-height: 298px;
	background-color: transparent;
	text-align: justify;
	color: #252525;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#slideshowu4662
{
	z-index: 32;
	width: 0.01px;
	height: 390px;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

#u4663
{
	position: absolute;
	width: 518px;
	height: 390px;
	background-color: transparent;
}

#u4663popup
{
	z-index: 33;
}

#u4666
{
	z-index: 34;
	width: 518px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4720
{
	z-index: 36;
	width: 518px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4720_clip
{
	overflow: hidden;
	width: 518px;
	height: 390px;
}

#u4720_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u4753
{
	z-index: 38;
	width: 518px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4762
{
	z-index: 40;
	width: 518px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4729
{
	z-index: 42;
	width: 518px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4742-4
{
	z-index: 44;
	width: 289px;
	min-height: 24px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	margin-left: 671px;
	margin-top: 6px;
	position: relative;
}

#pu4784
{
	width: 0.01px;
	margin-top: 41px;
}

#u4784
{
	z-index: 2;
	width: 369px;
	height: 401px;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,125,-65);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,125,-65);
	transform: matrix(0.866,0.5,-0.5,0.866,125,-65);
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 620px;
	background: transparent url("../images/screen%20shot%202d016-02-13%20at%20104337%20pm%20copy.png") no-repeat left top;
	background-size: cover;
}

#u4773-20
{
	z-index: 48;
	width: 472px;
	min-height: 531px;
	background-color: transparent;
	text-align: justify;
	color: #252525;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
}

#u4773-11
{
	font-style: italic;
}

#u4773-12,#u4773-14,#u4773-17
{
	font-style: normal;
}

#u4774
{
	z-index: 68;
	width: 960px;
	height: 2px;
	background-color: #00A99D;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u4775-4
{
	z-index: 69;
	width: 536px;
	min-height: 42px;
	background-color: transparent;
	line-height: 41px;
	color: #252525;
	text-align: left;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#u4814
{
	z-index: 77;
	width: 472px;
	height: 146px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 488px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%20113911%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u4843
{
	z-index: 78;
	width: 327px;
	height: 355px;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-78,168);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-78,168);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-78,168);
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 437px;
	background: transparent url("../images/screen%20shot%202d016-02-13%20at%20104337%20pm%20copy.png") no-repeat left top;
	background-size: cover;
}

#pu4777
{
	width: 0.01px;
	margin-top: 21px;
}

#u4777
{
	z-index: 73;
	width: 423px;
	height: 653px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%20105425%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u4829
{
	z-index: 76;
	width: 504px;
	height: 653px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%20105352%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#pu4844-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 5px;
}

#u4844-4
{
	z-index: 79;
	width: 345px;
	min-height: 24px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u4845-4
{
	z-index: 83;
	width: 289px;
	min-height: 24px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 593px;
}

#u4806
{
	z-index: 74;
	width: 960px;
	height: 585px;
	margin-top: 14px;
	position: relative;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%2065435%20pm.jpg") no-repeat center top;
}

#u4846-4
{
	z-index: 87;
	width: 960px;
	min-height: 62px;
	background-color: transparent;
	text-align: justify;
	margin-top: 28px;
	position: relative;
}

#u4860
{
	z-index: 75;
	width: 960px;
	height: 624px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%2065208%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u4853
{
	z-index: 91;
	width: 462px;
	height: 726px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%20105335%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u4867
{
	z-index: 92;
	width: 472px;
	height: 634px;
	position: relative;
	margin-right: -10000px;
	margin-top: 652px;
	left: 488px;
	background: transparent url("../images/screen%20shot%202016-02-13%20at%2065422%20pm.jpg") no-repeat right top;
	background-size: cover;
}

#u4874-4
{
	z-index: 93;
	width: 345px;
	min-height: 24px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 1262px;
	left: 117px;
}

#pu4860,#pu4875-4
{
	width: 0.01px;
	margin-top: 28px;
}

#u4875-4
{
	z-index: 97;
	width: 289px;
	min-height: 464px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#slideshowu4877
{
	z-index: 105;
	width: 0.01px;
	height: 464px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u4878
{
	position: absolute;
	width: 648px;
	height: 464px;
	background-color: transparent;
}

#u4878popup
{
	z-index: 106;
}

#u4881
{
	z-index: 107;
	width: 648px;
	height: 464px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4881_img
{
	margin-left: -8px;
	margin-right: -8px;
}

#u4940
{
	z-index: 109;
	width: 648px;
	height: 464px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4949
{
	z-index: 111;
	width: 648px;
	height: 464px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4940_img,#u4949_img
{
	margin-left: -8px;
	margin-right: -9px;
}

#u4958
{
	z-index: 113;
	width: 648px;
	height: 464px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4881_clip,#u4940_clip,#u4949_clip,#u4958_clip
{
	overflow: hidden;
	width: 648px;
	height: 464px;
}

#u4958_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u4967
{
	z-index: 115;
	width: 960px;
	height: 2px;
	background-color: #00A99D;
	margin-top: 64px;
	position: relative;
}

#u4968-4
{
	z-index: 116;
	width: 536px;
	min-height: 42px;
	background-color: transparent;
	line-height: 41px;
	color: #252525;
	text-align: left;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-top: 63px;
	position: relative;
}

#u4969-4
{
	z-index: 101;
	width: 960px;
	min-height: 80px;
	background-color: transparent;
	text-align: justify;
	margin-top: 12px;
	position: relative;
}

#slideshowu5310
{
	z-index: 120;
	width: 0.01px;
	height: 624px;
	margin-left: 60px;
	margin-top: 11px;
	position: relative;
}

#u5331
{
	position: absolute;
	width: 846px;
	height: 624px;
	background-color: transparent;
}

#u5331popup
{
	z-index: 121;
}

#u5384
{
	z-index: 122;
	width: 846px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5393
{
	z-index: 124;
	width: 846px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5393_img
{
	margin-top: 11px;
	margin-bottom: -75px;
}

#u5402
{
	z-index: 126;
	width: 846px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5402_img
{
	margin-top: -8px;
	margin-bottom: -9px;
}

#u5411
{
	z-index: 128;
	width: 846px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5411_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u5420
{
	z-index: 130;
	width: 846px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5420_img
{
	margin-left: -46px;
	margin-right: -46px;
}

#u5429
{
	z-index: 132;
	width: 846px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5393_clip,#u5402_clip,#u5411_clip,#u5420_clip,#u5429_clip
{
	overflow: hidden;
	width: 846px;
	height: 624px;
}

#u5429_img
{
	margin: -44px 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

