.version.parking_buddy /* version checker */
{
	color: #0000FF;
	background-color: #DA8C73;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 5975.80283321008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 100px;
	width: 0.01px;
}

#u419
{
	z-index: 148;
	height: 98px;
	top: 0px;
}

#u419-bw
{
	z-index: 148;
}

#u1257-4
{
	z-index: 208;
	width: 364px;
	min-height: 47px;
	top: 0px;
	left: -64px;
}

#u1257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#u1257-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 364px;
	margin: 0px;
}

#menuu382
{
	z-index: 149;
	width: 461px;
	top: 0px;
	left: 499px;
}

#u397
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
}

#u400
{
	width: 117px;
	padding-bottom: 17px;
}

#u400:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u403-4
{
	width: 84px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 119px;
}

#u412
{
	width: 94px;
	padding-bottom: 17px;
}

#u412:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u412.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u414-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u412:hover #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 162;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 63px;
}

#u412:hover #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u412.MuseMenuActive #u415
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u416
{
	width: 186px;
	top: 34px;
}

#u3623
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3625-4
{
	width: 141px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u3623:hover #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623:active #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u3623.MuseMenuActive #u3625-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1062
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3623.MuseMenuActive,#u1062:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	width: 67px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1062:hover #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062:active #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1062.MuseMenuActive #u1064-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u1074
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1062.MuseMenuActive,#u1074:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1075-4
{
	width: 116px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u1074:hover #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074:active #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u5458
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1074.MuseMenuActive,#u5458:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5461-4
{
	width: 117px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 31px;
}

#u5458:hover #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458:active #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u5458.MuseMenuActive #u5461-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u417,#u3620,#u1061,#u1071,#u5457,#u4639
{
	width: 186px;
}

#u4640
{
	width: 186px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5458.MuseMenuActive,#u4640:hover
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive
{
	width: 186px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4643-4
{
	width: 102px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u4640:hover #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640:active #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4640.MuseMenuActive #u4643-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 215px;
}

#u405
{
	width: 91px;
	padding-bottom: 17px;
}

#u405:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u405.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u407-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u405:hover #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u405.MuseMenuActive #u407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u597
{
	width: 153px;
	min-height: 34px;
	margin-right: -10000px;
	left: 308px;
}

#u600
{
	width: 153px;
	padding-bottom: 17px;
}

#u600:hover
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u600.MuseMenuActive
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u601-4
{
	width: 121px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u1002
{
	z-index: 147;
	height: 4px;
	top: 98px;
}

#u1002-bw
{
	z-index: 147;
}

#pu1122
{
	width: 0.01px;
	margin-left: -100px;
}

#u1122
{
	z-index: 8;
	height: 580px;
	background: transparent url("../images/parkingbuddy.jpg") no-repeat center center;
	background-size: cover;
}

#u1122-bw
{
	z-index: 8;
	height: 580px;
}

#untitled
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 1247px;
}

#u1129-4
{
	z-index: 9;
	width: 650px;
	min-height: 53px;
	background-color: transparent;
	line-height: 48px;
	color: #303030;
	text-align: center;
	font-size: 40px;
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	margin-left: 155px;
	margin-top: 35px;
	position: relative;
}

#u1131-4
{
	z-index: 13;
	width: 650px;
	min-height: 126px;
	background-color: transparent;
	text-align: justify;
	color: #303030;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 155px;
	position: relative;
}

#u1159
{
	z-index: 41;
	width: 918px;
	height: 1px;
	background-color: #828282;
	background-color: rgba(48,48,48,0.6);
	margin-left: 21px;
	margin-top: 32px;
	position: relative;
	-pie-background: rgba(48,48,48,0.6);
}

#pu1143-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 32px;
}

#u1143-4
{
	z-index: 17;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u1145-4
{
	z-index: 37;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 422px;
}

#pu1146-4
{
	width: 0.01px;
	margin-left: 78px;
}

#u1146-4
{
	z-index: 29;
	width: 382px;
	min-height: 158px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1153-4
{
	z-index: 33;
	width: 382px;
	min-height: 158px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 422px;
}

#u1162
{
	z-index: 42;
	width: 918px;
	height: 1px;
	background-color: #828282;
	background-color: rgba(48,48,48,0.6);
	margin-left: 21px;
	margin-top: 33px;
	position: relative;
	-pie-background: rgba(48,48,48,0.6);
}

#u1166-4
{
	z-index: 21;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	line-height: 41px;
	color: #303030;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-left: 289px;
	margin-top: 33px;
	position: relative;
}

#u1167-4
{
	z-index: 44;
	width: 650px;
	min-height: 75px;
	background-color: transparent;
	text-align: justify;
	color: #303030;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 155px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu1172
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: 16px;
}

#u1172
{
	z-index: 49;
	width: 248px;
	background-color: #FFF9F2;
	padding-bottom: 65px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1173-4
{
	z-index: 68;
	width: 202px;
	min-height: 54px;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 23px;
}

#u1180
{
	z-index: 51;
	width: 248px;
	background-color: #FFF9F2;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1181-4
{
	z-index: 76;
	width: 202px;
	min-height: 161px;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 14px;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 23px;
}

#u1168
{
	z-index: 48;
	width: 248px;
	background-color: #303030;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u1169-7
{
	z-index: 54;
	width: 202px;
	min-height: 195px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 23px;
}

#u1174-4
{
	z-index: 87;
	width: 202px;
	min-height: 75px;
	background-color: transparent;
	line-height: 77px;
	color: #303030;
	text-align: center;
	font-size: 64px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 519px;
}

#pu1198
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: -1px;
}

#u1198
{
	z-index: 53;
	width: 202px;
	background-color: #303030;
	position: relative;
	margin-right: -10000px;
	padding: 46px 23px 16px;
}

#u1208-4
{
	z-index: 91;
	width: 202px;
	min-height: 75px;
	background-color: transparent;
	line-height: 77px;
	color: #FFFFFF;
	text-align: center;
	font-size: 64px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
}

#u1207-4
{
	z-index: 72;
	width: 202px;
	min-height: 102px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u1201
{
	z-index: 52;
	width: 248px;
	background-color: #FFF9F2;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u1196-7
{
	z-index: 61;
	width: 202px;
	min-height: 210px;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 23px;
}

#u1195
{
	z-index: 50;
	width: 248px;
	background-color: #303030;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u1199-7
{
	z-index: 80;
	width: 202px;
	min-height: 175px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 23px;
}

#u1215
{
	z-index: 43;
	width: 918px;
	height: 1px;
	background-color: #828282;
	background-color: rgba(48,48,48,0.6);
	margin-left: 21px;
	margin-top: 32px;
	position: relative;
	-pie-background: rgba(48,48,48,0.6);
}

#u1245-4
{
	z-index: 25;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	line-height: 41px;
	color: #303030;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-left: 289px;
	margin-top: 34px;
	position: relative;
}

#u1256-7
{
	z-index: 95;
	width: 650px;
	min-height: 75px;
	background-color: transparent;
	text-align: justify;
	color: #303030;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 155px;
	position: relative;
}

#u1737
{
	z-index: 7;
	margin-left: 21px;
	margin-top: 13px;
	position: relative;
}

#pu1881
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 2px;
}

#u1881
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u1803
{
	z-index: 121;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 197px;
}

#u1826
{
	z-index: 122;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 197px;
}

#u1829
{
	z-index: 123;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 210px;
}

#u1866
{
	z-index: 124;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 204px;
}

#u1886
{
	z-index: 125;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u1908
{
	z-index: 3;
	margin-left: 21px;
	margin-top: 22px;
	position: relative;
}

#u1897
{
	z-index: 5;
	position: relative;
	margin-right: -10000px;
}

#u1900
{
	z-index: 126;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 265px;
}

#u1903
{
	z-index: 127;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 58px;
}

#pu1897,#pu1783
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 21px;
}

#u1783
{
	z-index: 6;
	position: relative;
	margin-right: -10000px;
}

#u1920
{
	z-index: 108;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 57px;
}

#u1778
{
	z-index: 120;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 57px;
}

#u1337
{
	z-index: 106;
	width: 918px;
	height: 1px;
	background-color: #828282;
	background-color: rgba(48,48,48,0.6);
	margin-left: 21px;
	margin-top: 23px;
	position: relative;
	-pie-background: rgba(48,48,48,0.6);
}

#u1380-4
{
	z-index: 102;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	line-height: 41px;
	color: #303030;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-left: 289px;
	margin-top: 34px;
	position: relative;
}

#u1478-4
{
	z-index: 109;
	width: 650px;
	min-height: 76px;
	background-color: transparent;
	text-align: justify;
	margin-left: 155px;
	position: relative;
}

#u1938
{
	z-index: 128;
	margin-left: 212px;
	margin-top: 28px;
	position: relative;
}

#pu1933
{
	width: 0.01px;
	margin-left: 193px;
	margin-top: 29px;
}

#u1933
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
}

#u1479-7
{
	z-index: 113;
	width: 287px;
	min-height: 245px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u1381
{
	z-index: 107;
	width: 918px;
	height: 1px;
	background-color: #828282;
	background-color: rgba(48,48,48,0.6);
	margin-left: 21px;
	margin-top: 28px;
	position: relative;
	-pie-background: rgba(48,48,48,0.6);
}

#u2024-4
{
	z-index: 129;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	line-height: 41px;
	color: #303030;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	margin-left: 291px;
	margin-top: 34px;
	position: relative;
}

#pu2026
{
	width: 0.01px;
	margin-left: 137px;
	margin-top: 7px;
}

#u2026
{
	z-index: 146;
	position: relative;
	margin-right: -10000px;
}

#u2025-13
{
	z-index: 133;
	width: 418px;
	min-height: 184px;
	background-color: transparent;
	text-align: justify;
	color: #303030;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

